.textoLink {
    color: white;
    text-decoration: none;
  }
  
  .texto {
    color: white;
  }
  
  .fondoOscuro {
    background-color: rgb(2, 2, 2);
  }
  
  .fondoClaro {
    background-color: white;
  }
  
  .divisiones {
    border-top: 2px solid white;
  }
  
  .centrar {
    justify-content: center;
    align-items: center;
  }
  
  .linea {
    display: inline;
  }
  
  .hidden {
    overflow: hidden;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .textoImagen {
    font-weight: 700;
  }
  
  .justificar-texto {
    text-align: justify;
  }
  
  header {
    height: auto;
  }
  
  main {
    height: auto;
  }
  
  footer {
    height: auto;
  }

  .cuadrado {
    height: 80vh;
    width: 45vh;
  }

  .textoImagen {
    color: black;
  }

  .radio {
    border-radius: 15px;
  }

  body {
    /* Ajusta la imagen de fondo con la URL de la imagen que deseas utilizar */
    background-image: url("https://img.freepik.com/vector-gratis/acuarela-corazones-patrones-fisuras_1108-561.jpg?w=2000");

    /* https://img.freepik.com/foto-gratis/corazones-rosados-brillantes-costura-estampados_53876-94593.jpg?w=2000 */
    /* https://img.freepik.com/vector-gratis/acuarela-corazones-patrones-fisuras_1108-561.jpg?w=2000 */
    /* Ajusta el tamaño de la imagen de fondo para cubrir toda la pantalla */
    background-size: cover;

    /* Ajusta la posición de la imagen de fondo al centro */
    background-position: center;

    /* Asegura que la imagen de fondo no se repita */
    background-repeat: no-repeat;

    /* Ajusta la altura del cuerpo para que cubra toda la pantalla */
    height: auto;

    /* Establece el margen del cuerpo en 0 para eliminar espacios alrededor */
    margin: 0;
    padding: 0;
}
